{# EL6 doesn't ship ssl config in mod_ssl
   package so we need to add Listen directive #}
{% if ansible_os_family == 'RedHat' and ansible_distribution_major_version == '6' %}
Listen 443 https
{% endif %}

<VirtualHost *:80>
  ServerName {{ hostname }}
{% if httpd_alias %}
  ServerAlias {{ httpd_alias }}
{% endif %}
  ServerAdmin {{ rootmail }}
  TraceEnable Off

  RedirectMatch ^/(.*)$ https://{{ hostname }}/$1
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ hostname }}
{% if httpd_alias %}
  ServerAlias {{ httpd_alias }}
{% endif %}
  ServerAdmin {{ rootmail }}

  SSLEngine on
  SSLCertificateFile {{ ssl_cert_dest_path }}
  SSLCertificateKeyFile {{ ssl_key_dest_path }}
{% if ssl_cert_chain_src_path %}
  SSLCertificateChainFile {{ ssl_cert_chain_dest_path }}
{% endif %}
  SSLCipherSuite RSA:!EXPORT:!MD5:!RC4:!DH:!LOW:!NULL:+MEDIUM:+HIGH
  SSLProtocol -ALL -SSLv3 +TLSv1 +TLSv1.1 +TLSv1.2
</VirtualHost>
