User "pound"
Group "pound"
Control "/var/lib/pound/pound.cfg"

ListenHTTP
    Address 0.0.0.0
    Port 80
    Service
        HeadRequire "Host: {{ domain }}"
        Redirect "https://{{ domain }}"
    End
End

ListenHTTPS
    Address 0.0.0.0
    Port    443
    Cert    "/etc/pki/tls/certs/{{ domain }}.pem"
    HeadRemove "X-Forwarded-Proto"
    AddHeader "X-Forwarded-Proto: https"
    Service
        BackEnd
            Address 127.0.0.1
            Port    {{ varnish_port }}
       End
    End
End
