[hub2]
debug = false
proxy_setup = true
secret_key = {{ secret_key }}
{% if webfaf_on_root %}
url = https://{{ domain }}/
{% else %}
url = https://{{ domain }}/faf/
{% endif %}

[DumpDir]
CacheDirectory = /var/spool/faf/dumpdirs
CacheDirectoryCountQuota = 100
CacheDirectorySizeQuota = 107374182400
MaxDumpDirSize = 1073741824

[cache]
type = memcached
memcached_host = localhost
memcached_port = {{ memcached_port }}
memcached_key_prefix = webfaf2
