vcl 4.0;
backend default {
  .host = "127.0.0.1";
  .port = "{{ apache_port }}";
}


sub vcl_recv {
  # unless sessionid is in the request, don't pass ANY cookies (referral_source, utm, etc)
  if (req.method == "GET" && (req.url ~ "^/static" || (req.http.cookie !~ "session")))
  {
    unset req.http.Cookie;
  }

  #normalize accept-encoding to account for different browsers
  if (req.http.Accept-Encoding) {
    if (req.url ~ "\.(jpg|png|gif|gz|tgz|bz2|tbz|mp3|ogg)$") {
      # No point in compressing these
      unset req.http.Accept-Encoding;
    } elsif (req.http.Accept-Encoding ~ "gzip") {
      set req.http.Accept-Encoding = "gzip";
    } elsif (req.http.Accept-Encoding ~ "deflate") {
      set req.http.Accept-Encoding = "deflate";
    } else {
      # unknown algorithm
      unset req.http.Accept-Encoding;
    }
  }
}

sub vcl_backend_response {
  # /static files always cached
  if (bereq.url ~ "^/static") {
       unset beresp.http.set-cookie;
       return (deliver);
  }

  # pass through for anything with a session set
  if (beresp.http.set-cookie ~ "session") {
    set beresp.uncacheable = true;
    set beresp.ttl = 120s;
    return (deliver);
  } else {
    return (deliver);
  }
}
